[Unit]
Description=Borg Backup Service

[Service]
Type=oneshot
ExecStart=/home/lyka/bin/backup.sh
User=lyka
Group=lyka
WorkingDirectory=/home/lyka
Environment=BORG_PASSPHRASE=%i

[Install]
WantedBy=default.target
