[Unit]
Description=Borg Backup Service

[Service]
Type=oneshot
ExecStart=/home/lyka/bin/backup.sh
WorkingDirectory=/home/lyka

[Install]
WantedBy=default.target
