[Unit]
Description=Hourly Git Auto Commit and Push
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'cd /home/lyka/Drive/OBSIDIAN && git add -A && git commit -m "Hourly auto-commit $(date +%%Y-%%m-%%d_%%H:%%M)" && git push'
WorkingDirectory=/home/lyka/Drive/OBSIDIAN
Restart=no
