[Unit]
Description=Remind myself why i live

[Service]
Type=oneshot
ExecStart=/home/lyka/.local/bin/read-mantra.sh
User=lyka
Group=lyka

[Install]
WantedBy=default.target
