[Unit]
Description=Capture an image from /dev/video0 every 5 minutes with timestamp

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/bin/ffmpeg -f v4l2 -i /dev/video0 -frames:v 1 "/home/lyka/Pictures/Timed/$(date +%%Y-%%m-%%d_%%H-%%M-%%S).png" -y'
User=lyka
Group=lyka

[Install]
WantedBy=default.target
