/* Add your custom extension styling here */
.rest-equity-label {
    padding: 0 0.5em;
    font-weight: bold;
}

.rest-equity-working {
    color: #00FF00;
}

.rest-equity-resting {
    color: #FFFF00; 
}

.rest-equity-unknown {
    color: #808080;
}

.rest-equity-debt {
    color: #FF0000;
}
